.table-main {
  margin: 10px;
}

.table-header,
.table-content {
  display: flex;
  justify-content: space-evenly;
}

.table-row {
  border: 1px solid black;
  width: 20%;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.table-row.header {
  background-color: grey;
}

.table-content .table-row {
  height: 120px;
}

.table-row img {
  height: 110px;
  margin: 5px auto;
}

.btn-red {
  background-color: red !important;
  color: white;
}

.add-btn-container {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

.cancel-btn {
  margin: 10px 0;
  background-color: gold !important;
}
